@charset "utf-8";
/* CSS Document */

/* ロゴを入れた後で消す */
h2 a {
    color: #000000;
}

/* reset */
input[type="radio"] {
    margin-left: 3px;
    vertical-align: -0.1em;
}

/* 共通 */
body {
    padding-top: 40px;
    font-size: 14px;
}
a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}
#header, #main, .inner {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#headline {
    width: 100%;
    background-color: #004080;
    font-size: 12px;
    padding: 10px 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    color: #ffffff;
}
.inner {
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}
#headline h1 {
    padding: 5px 0;
}
#headline p {
    padding: 5px;
}
#headline button {
    border-radius: 2px;
    border: none;
    padding-left: 8px;
    display: none;
    cursor: pointer;
}
#headline #nav span {
    font-weight: bold;
    margin: 0 5px;
    color: #ffff00;
}
#headline li {
    margin-left: 10px;
}
#headline nav a {
    padding: 5px 10px;
    background-color: #3784a8;
}
#headline nav a:hover {
    background-color: #eb6100;
}
#headline i {
    margin-right: 3px;
}

#header div.flex {
    padding: 15px 10px 5px;
    justify-content: space-between;
}
#header h2 {
	color: #000000;
    padding: 13px 0;
    font-size: 14px;
}
#g_nav li {
	margin-left: 5px;
}
#g_nav li a {
    width: 100px;
	padding: 13px 0;
    text-align: center;
    box-sizing: border-box;
	background-color: #3784a8;
    font-size: 14px;
}
#g_nav li a:hover {
	background-color: #eb6100;
}

#main_image {
    margin-top: 10px;
}
#main {
    padding-bottom: 20px;
}
#rain {
    width: 100%;
    height: 10px;
}
#footer {
	background-color: #004080;
    font-size: 12px;
    padding: 10px 0;
    color: #ffffff;
}
#footer ul {
    justify-content: center;
}
#footer li {
    padding: 0 10px;
    border-right: solid 1px #ffffff;
}
#footer li:last-child {
    border: none;
}
#footer a:hover {
    text-decoration: underline;
}
#footer p {
    margin-top: 6px;
    text-align: center;
}

#menu {
    display: none;
}
.btn{
    display: none;
    width: 50px;
    text-align: center;
    position: fixed;
    bottom: 50px;
    z-index: 9999;
    opacity: 0.8;
}
#page_back {
    left: 34px;
}
#top_btn {
    right: 50px;
}
#page_back a, #top_btn a {
    display: inline-block;
    font-size: 14px;
    background-color: #004080;
    padding: 20px 10px;
    width: 100%;
}
#page_back a:hover, #top_btn a:hover, #menu a:hover {
    opacity: 0.8;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* bxslider調整用 */
.bx-wrapper .bx-viewport {
    border: none;
    left: 0;
    box-shadow: none;
}

/* index用 */
#main_contents {
    width: 75%;
    padding-left: 10px;
    padding-right: 20px;
    box-sizing: border-box;
    color: #000000;
}
#main_contents fieldset {
    margin-bottom: 20px;
}
#main_contents legend {
    margin: 5px 0;
    padding: 3px 5px;
    border-left: solid 5px #004080;
    font-size: 18px;
}
#main_contents table {
    width: 100%;
}
#main_contents tr {
    border-top: solid 1px #004080;
}
#main_contents tr:first-child {
    border-top-width: 3px;
}
#main_contents tr:last-child {
    border-bottom: solid 3px #004080;
}
#main_contents th {
    text-align: left;
    width: 25%;
    padding: 5px;
    vertical-align: middle;
    box-sizing: border-box;
}
#main_contents td {
    padding: 5px;
    vertical-align: middle;
    box-sizing: border-box;
}
#main_contents table:not(.property) td {
    width: 75%;
}
#main_contents td span {
    margin-left: 10px;
    font-size: 12px;
}
#main_contents #max_money {
    margin-right: 10px;
}
#main_contents label {
    margin-right: 10px;
    display: inline-block;
}
#main_contents #search p {
    text-align: center;
    margin: 10px 0;
}
#main_contents input[type="submit"] {
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    background-color: #3784a8;
    cursor: pointer;
}
#main_contents input[type="submit"]:hover {
    background-color: #eb6100;
}
#sidebar {
    width: 25%;
}
#sidebar section {
    margin-bottom: 10px;
}
#sidebar section a:hover {
    opacity: 0.8;
}
#sidebar section figure {
    position: relative;
}
#sidebar section figure img {
    max-width: 100%;
}
#sidebar section figcaption {
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
}
#recent {
    border: solid 2px #3784a8;
}
#recent h3 {
    color: #ffffff;
    background-color: #3784a8;
    padding:10px;
}
#recent aside {
    font-size: 10px;    
}
#recent aside a {
    padding: 10px 5px 10px 5px;
    border-bottom: dotted 1px #3784a8;
}
#recent aside:last-child a {
    border: none;
}
#recent aside a:hover {
    background-color: #dddddd;
}
#recent figure {
    width: 30%;
}
#recent figure img{
    max-width: 100%;
}
#recent table {
    width: 70%;
    color: #000000;
}
#recent tr {
    border-top: solid 1px #aaaaaa;
}
#recent tr:first-child {
    border-top-width: 2px;
}
#recent tr:last-child {
    border-bottom: solid 2px #aaaaaa;
}
#recent th {
    text-align: left;
    width: 25%;
    padding: 5px;
    vertical-align:  middle;
}
#recent td {
    width: 75%;
    padding: 5px;
    vertical-align:  middle;
}

/* search.php */
#search #main_contents, #search #sidebar {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#search #main_contents h2 {
    font-size: 18px;
    margin: 5px 0;
    padding: 3px 5px;
    border-left: solid 5px #004080;
}
#search #main_contents h2+p {
    text-align: right;
    margin-bottom: 10px;
}
#search #main_contents h2+p span {
    color: #eb6100;
    font-size: 20px;
}
#search #main_contents a {
    color: #000000;
}
#search #main_contents a:hover {
    background-color: #eeeeee;
}
#search #main_contents section {
    border: solid 2px #004080;
    padding: 10px;
    margin-bottom: 10px;
}
#search #main_contents section header {
    margin-bottom: 10px;
}
#search #main_contents .favorite {
    text-align: center;
    margin-right: 10px;
}
#search #main_contents .name {
    font-size: 24px;
}
#search #main_contents aside {
    margin-bottom: 10px;
}
#search #main_contents figure {
    width: 30%;
    padding-right: 10px;
    box-sizing: border-box;
}
#search #main_contents table {
    width: 70%;
}
#search #main_contents .property {
    width: 100%;
}
#search #main_contents .property tr:last-child {
    border-top: none;
}
#search #main_contents .property td {
    border-right: dotted 1px #004080;
    width: 10%;
    text-align: center; 
}
#search #main_contents .property td:first-child {
    width: 15%
}
#search #main_contents .property td:nth-of-type(4) {
    width: 30%;
}
#search #main_contents .property td:last-child {
    border-right: none;
    width: 25%;
}
#search #main_contents .property .money {
    font-size: 20px;
}
#search #sidebar {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
#search #sidebar section {
    width: 33.3333%;
    box-sizing: border-box;
}
#search #sidebar section:nth-of-type(1) {
    padding-right: 6px;
}
#search #sidebar section:nth-of-type(2) {
    padding-left: 3px;
    padding-right: 3px;
}
#search #sidebar section:nth-of-type(3) {
    padding-left: 6px;
}
#search #sidebar section img {
    width: 100%;
}
#search #recent aside {
    width: 33.3333%;
    padding: 5px;
    box-sizing: border-box;
}
#search #recent aside a {
    padding: 10px;
    border-bottom: none;
    border-right: dotted 1px #3784a8;
}
#search #recent aside:last-child a {
    border: none;
}


/* スマホ用 */
@media (max-width:800px) {
    #wrapper {
        position: absolute;
    }
    #headline button {
        display: block;
    }
    #headline nav {
        display: none;
        position: absolute;
        left: 0;
        top: 42px;
        z-index: 99999;
        width: 100%;
    }
    #headline nav ul {
        display: block;
        text-align: center;
    }
    #headline li {
        margin: 0;
        border-bottom: dotted 1px #ffffff;
    }
    #headline li:last-child {
        border: none;
    }
    #headline nav a {
        padding: 15px;
    }
    #g_nav {
        display: none;
        position: fixed;
        right: -100px;
        bottom: 60px;
    }
    #g_nav li {
        border-bottom: dotted 1px #ffffff;
    }
    #main {
        display: block;
    }
    #main_contents {
        width: 100%;
    }
    #sidebar {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    #sidebar section {
        width: 33.3333%;
        box-sizing: border-box;
    }
    #sidebar section:nth-of-type(1) {
        padding-right: 6px;
    }
    #sidebar section:nth-of-type(2) {
        padding-left: 3px;
        padding-right: 3px;
    }
    #sidebar section:nth-of-type(3) {
        padding-left: 6px;
    }
    #recent {
        width: 100%;
    }
    #rain {
        display: none;
    }
    #page_back {
        position: fixed;
        left: -30px;
        z-index: 9999;
    }
    #menu, #top_btn {
        position: fixed;
        bottom: -30px;
        z-index: 9999;
    }
    #top_btn {
        display: block;
        padding: 0;
        text-align: left;
        left: -30px;
    }
    #menu {
        right: -30px;
        display: block;
    }
    #menu a, #top_btn a, #page_back a {
        display: block;
        font-size: 12px;
        background-color: rgba(235,97,0,.5);
        width: 75px;
        height: 75px;
        box-sizing: border-box;
        border-radius: 50%;
        padding: 0;
    }
    #menu a span {
        display: block;
        position: absolute;
        top: 20px;
        left: 9px;
    }
    #top_btn a span, #page_back a span {
        display: block;
        position: absolute;
        top: 20px;
        right: -10px;
    }
    #page_back a span {
        top: 32px;
        right: -18px;
    }
}

@media (max-width:600px) {
    #headline div.inner {
        justify-content:flex-end;
    }
    #headline h1 {
        display: none;
    }
    #header div.flex {
        padding: 0;
    }
    #header h2 {
        position: fixed;
        top: 0;
        z-index: 9999;
    }
    #search #recent aside {
        width: 100%;
    }
    #search #recent aside a {
        border: none;
        border-bottom: dotted 1px #3784a8;
    }
    #search #recent aside:last-child a {
        border: none;
    }

}

@media (max-width:500px) {
    #sidebar section {
        width: 50% !important;
    }
    #sidebar section:nth-child(odd) {
        padding-right: 5px !important;
        padding-left: 0 !important;
    }
    #sidebar section:nth-child(even) {
        padding-right: 0 !important;
        padding-left: 5px !important;
    }
    #sidebar section figure img {
        width: 100%;
    }
    #footer li {
        padding-left: 3px;
        padding-right: 3px;
    }
    #footer a {
        display: inline-block;
        font-size: 11px;
    }
}



